<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css"/>
    <link href="css/style.css" rel="stylesheet"/>

    <script>
        function DeleteClient(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == XMLHttpRequest.DONE) {
                    location.reload();
                }
            }
            xhttp.open("DELETE", `http://localhost:8080/client/${id}`, true);
            xhttp.send();
        }
    </script>

    <script>
        function DeleteOffer(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == XMLHttpRequest.DONE) {
                    location.reload();
                }
            }
            xhttp.open("DELETE", `http://localhost:8080/offer/${id}`, true);
            xhttp.send();
        }
    </script>

    <script>
        function DeleteCar(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == XMLHttpRequest.DONE) {
                    location.reload();
                }
            }
            xhttp.open("DELETE", `http://localhost:8080/car/${id}`, true);
            xhttp.send();
        }
    </script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col s5">
            <h4>Car properties</h4>


            <form action="#" th:action="@{/update/car/{id}}" th:object="${car}" method="post">
                <p>Brand: <input type="text" th:field="*{brand}"/></p>
                <p>Model: <input type="text" th:field="*{model}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>


            <h4>Client properties</h4>


            <form action="#" th:action="@{/client}" th:object="${client}" method="post">
                <p>Name: <input type="text" th:field="*{name}"/></p>
                <p>Email: <input type="text" th:field="*{email}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>


            <h4>Offer properties</h4>


            <form action="/offer" th:action="@{/offer}" th:object="${offer}" method="post">
                <p>Date : <input type="text" th:field="*{date}"/></p>
                <p>Value: <input type="text" th:field="*{value}"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>

        <div class="col offset-s1 s6">
            <h4>Cars from data bases</h4>
            <table class="highlight">
                <tr>
                    <th>Id</th>
                    <th>Brand</th>
                    <th>Model</th>
                </tr>
                <tr th:each="car: ${cars}">
                    <td th:text="${car.id}"></td>
                    <td th:text="${car.model}"></td>
                    <td th:text="${car.brand}"></td>
                    <td><a class="waves-effect waves-light btn margin-top center"
                           th:href="@{${'car/' + car.id}}">Edit</a></td>
                    <td><a class="waves-effect waves-light btn margin-top center"
                           th:onclick="'DeleteCar(\'' + ${car.id} + '\');'">Delete</a></td>
                </tr>
            </table>

            <h4>Clients from data bases</h4>
            <table class="highlight">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <tr th:each="client: ${clients}">
                    <td th:text="${client.id}"></td>
                    <td th:text="${client.name}"></td>
                    <td th:text="${client.email}"></td>
                    <td><a class="waves-effect waves-light btn margin-top center"
                           th:onclick="'DeleteCar(\'' + ${car.id} + '\');'">Edit</a></td>
                    <td><a class="waves-effect waves-light btn margin-top center"
                           th:onclick="'DeleteClient(\'' + ${client.id} + '\');'">Delete</a></td>
                </tr>

            </table>

            <h4>Offers from data bases</h4>
            <table class="highlight">
                <tr>
                    <th>Id</th>
                    <th>Value</th>
                    <th>Data</th>
                </tr>
                <tr th:each="offer: ${offers}">
                    <td th:text="${offer.id}"></td>
                    <td th:text="${offer.date}"></td>
                    <td th:text="${offer.value}"></td>
                    <td><a class="waves-effect waves-light btn margin-top center"
                           th:onclick="'DeleteCar(\'' + ${car.id} + '\');'">Edit</a></td>
                    <td><a class="waves-effect waves-light btn margin-top center"
                           th:onclick="'DeleteOffer(\'' + ${offer.id} + '\');'">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>


</body>
</html>