<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.4/css/materialize.min.css">
    <link href="css/style.css" rel="stylesheet">

    <script>
        function DeleteAction(pictureId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", `http://localhost:8080/gallery/${pictureId}`, true);
        xhttp.send();


        location.reload();
        }
    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div th:each="picture : ${images}" class="col s6" >
            <div class="card z-depth-4">
                <div class="card-image">
                    <img class="max-photo-height" th:src="@{${'img/' + picture.name}}"/>
                </div>
                <div class="card-content">
                    <p th:text="${picture.index}">Index</p>
                    <p th:text="${picture.name}">Picture Name</p>
                    <p th:text="${picture.resolution}">Picture Resolution</p>
                    <p th:text="${picture.size}">Picture Size</p>
                    <p th:text="${picture.date}">Picture Date</p>
                    <a class="waves-effect waves-light btn margin-top center" th:onclick="'DeleteAction(\'' + ${picture.name} + '\');'">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>